nav {
    border: solid black 10px;
}
  body {
    height: 100%;
    /* Center and scale the image nicely */
   background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./images/teton.jpg);
    background-color: #CCCCCC;
  }